body{
    background-color: aqua;
}
ul li{
    list-style: none;
    display: inline;
    padding: 20px;
}
li:hover{
    background-color: rgb(224, 181, 39);
}
.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    height: 300px;
    width:100%;
    /* gap: 10px; */
    
    border: 2px solid red;

}
/* .row1,.row2,.row3{
    border: 1px dotted black;
} */
.row1{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    /* grid-column: 3/8;
    grid-row: 1/2; */
    /* display: grid; */
    color: white;
    background-color:black;
    height: 70px;
    border: 1px solid red;
    /* grid-template-columns: 2;
    grid-template-rows: 2; */
    display: flex;
    /* justify-content: space; */
}
.row1col1,.row1col2,.row1col3,.row1col4,.row1col5,.row1col6{
    height:70px;
    width:300px;
    border: 1px solid red;
}
.row2{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
    color: white;
    background-color:darkolivegreen;
    height: 70px;
    border: 1px solid red;

}
.row3{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end:4 ;
    color: white;
    background-color:rgb(114, 180, 28);
    height: 250px;
    border: 1px solid red;

}
.row4{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    justify-content: space-around;
    height: 400px;
    background-color: thistle;
    border: 1px solid ;
    align-items: center;
}
.row41,.row42,.row43,.row44{
    height:300px;
    width:250px;
    border: 1px solid red;
}
.row41{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
}
.row411,.row412,.row413,.row414{
    border:1px solid rgb(29, 194, 68);
    padding: 10px;
    /* margin: 10px; */

}
/* .row1col1,.row1col2,.row1col3,.row1col4{
    height: 73px;
    border: 1px solid red;
}
.row1col1{
    grid-row: 1/2;
    grid-column: 1/2;
} */